@import "~normalize.css";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,600,700,800|Lato:300,400,700,900');

* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

html {
    overflow: hidden;
}

.hidden {
    display: none;
}
